<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Funky Lagos Orchestra</title>
    {% if app.request.locale == 'fr' %}
        <meta name="description" content="The Funky Lagos Orchestra : Afrobeat, afrofunk et funk en 9 musiciens, inspiré de Fela Kuti. À écouter, à danser, à se laisser porter par le rythme.">
        <meta property="og:description" content="The Funky Lagos Orchestra : Afrobeat, afrofunk et funk en 9 musiciens, inspiré de Fela Kuti. À écouter, à danser, à se laisser porter par le rythme.">
    {% else %}
        <meta name="description" content="The Funky Lagos Orchestra : Afrobeat, afrofunk and funk with 9 musicians, inspired by Fela Kuti. To listen, to dance, to let yourself be carried away by the rhythm.">
        <meta property="og:description" content="The Funky Lagos Orchestra : Afrobeat, afrofunk and funk with 9 musicians, inspired by Fela Kuti. To listen, to dance, to let yourself be carried away by the rhythm.">
    {% endif %}
    <meta property="og:title" content="The Funky Lagos Orchestra">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.thefunkylagosorchestra.com">
    <meta property="og:image" content="https://www.thefunkylagosorchestra.com/logo.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/logo.png">
{#    <link rel="preload"#}
{#          href="{{ vite_asset('assets/fonts/Nunito.woff2') }}"#}
{#          as="font" type="font/woff2" crossorigin>#}
{#    <link rel="preload"#}
{#          href="{{ vite_asset('assets/fonts/Raleway.woff2') }}"#}
{#          as="font" type="font/woff2" crossorigin>#}
    {{ vite_entry_link_tags('app') }}
</head>
<body>
<div id="app"></div>
{{ vite_entry_script_tags('app') }}
</body>
</html>
